<div class="all-these-tasks">
		<p><%= task.description %></p>
		<p><%= task.deadline %></p>
		<p>
		<%= link_to edit_task_path(task), remote: true do %>
			 <button>Edit</button>
		<% end %>
		</p>

		<p>
		<%= link_to task, remote: true, method: :delete,  data: { confirm: 'Are you sure?' } do %>
		  <button>Delete!</button>
		<% end %>
		</p>
</div>

